@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
}

button {
  font-family: inherit;
  font-size: inherit;
}
